[Unit]
Description=Send System IP Information Service
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /root/Tell_Me_after_Boot/send_ip.sh
User=root

[Install]
WantedBy=multi-user.target 