[Unit]
Description=Setup login notification script
After=network.target

[Service]
Type=oneshot
ExecStart=/root/Tell_Me/login/setup.sh
RemainAfterExit=true
User=root

[Install]
WantedBy=multi-user.target
